.search {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.search_input{
    border: none;
    border-bottom: 1px solid black;
    font-size: 10px;
}

.search_button{
    border: none;
    background-color: white;
    cursor:pointer;
    font-size: 10px;
}

.search_input:focus,
.search_button:focus{
    outline: none;
}