@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Satisfy&display=swap");
.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search_input {
  border: none;
  border-bottom: 1px solid #dea450;
  font-size: 18px;
  background: inherit;
  color: inherit;
}

.search_button {
  border: none;
  background-color: inherit;
  cursor: pointer;
  font-size: 18px;
  color: inherit;
}

.search_input:focus,
.search_button:focus {
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'EB Garamond', serif;
  background: black;
  color: #dea450;
}

.container {
  padding: 0 30px;
}

.container header nav .nav_toggle {
  position: absolute;
  cursor: pointer;
  margin: 0rem 1rem;
  right: 0;
}

.container header nav .nav_toggle i {
  width: 2rem;
  fill: black;
}

.container header nav .nav_toggle .close {
  display: none;
}

.container header nav .nav_toggle .menu {
  margin-top: 0.2rem;
}

.container header nav .nav_checkbox {
  display: none;
}

.container header nav ul {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
  list-style: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container header nav ul li {
  font-weight: 400;
  cursor: pointer;
  display: none;
}

.container header nav ul li img {
  width: 5rem;
}

.container header nav ul li:first-child {
  margin-right: auto;
  display: block;
}

.container header nav ul li a {
  text-decoration: none;
  color: inherit;
}

.container header nav ul li a:hover {
  border-bottom: 1px solid #dea450;
  padding: 5px 0 5px 0;
}

.container header nav ul li .search_input {
  font-size: 14px;
}

.container header nav #nav_checkbox:checked ~ ul li {
  display: block;
}

.container header nav #nav_checkbox:checked ~ .nav_toggle .close {
  display: block;
}

.container header nav #nav_checkbox:checked ~ .nav_toggle .menu {
  display: none;
}

.container .flex1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .flex1 .flex2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container .flex1 .flex2 .cup {
  height: 120px;
  width: 130px;
  border: 3.5px solid #dea450;
  border-radius: 0px 0px 60px 60px;
  text-decoration: none;
  opacity: 50%;
}

.container .flex1 .flex2 .cup a {
  display: inline-block;
  margin: 35px 35px 35px 35px;
  font-size: 15px;
  letter-spacing: 4px;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.container .flex1 .flex2 .handle {
  width: 30px;
  height: 70px;
  border: 3.5px solid #dea450;
  border-radius: 0px 20px 20px 0;
  border-left: 0px;
  opacity: 50%;
}

.container2 {
  width: 100vw;
  height: 100vh;
  background-image: url("/images/bg2.png");
}

.container2 article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.container2 article h1 {
  margin-bottom: -10px;
}

@media screen and (min-width: 800px) {
  .container header nav .nav_toggle {
    display: none;
  }
  .container header nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .container header nav ul li {
    display: block;
  }
  .container header nav ul li img {
    width: 7rem;
  }
}
/*# sourceMappingURL=home.css.map */