@import 'colors';
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Satisfy&display=swap');

html {
    font-size: 100%;
}

body{
    height: 100%;
    margin:0;
    background: linear-gradient( $blue-g, $black);
    background-repeat: none;
    background-attachment: fixed;
    font-family: 'EB Garamond', serif;
}

form{
    
    margin: 110px auto 20px auto;
    width: 250px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 10px 10px  $black;
    text-align: center;
    padding: auto;
    
    h1{
        padding-top: 5px;
        margin-bottom: 30px;
    }

    ul{ 
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-right: 30px;
        
        li{
            display: flex;
           flex-direction: column;
           gap: 5px;

           input{
               border: 0;
               border-bottom: 1px solid gray;
           }
           
           button{
               border: none;
               padding: 10px;
               border-radius: 50%;
               margin-bottom: 10px;
           }
           button:hover{
            background-color: $blue-g;
            color:$grey-w;
        }
        }
    }

    p{
        padding: 10px;
    }
}

@media screen and (min-width: 720px){
    form{
        margin: 210px auto 20px auto;
        width: 400px;
    }
    
}
@media screen and (min-width: 1000px){
    form{
        margin: 210px auto 20px auto;
        width: 800px;
        padding: 50px;
    }
    
}